<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.real.owner.mapper.EstateMapper" >
  <resultMap id="BaseResultMap" type="com.zking.real.owner.model.Estate" >
    <constructor >
      <arg column="r_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_yzid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_ly" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_lc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_fczh" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_rgzh" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_zcpxh" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r_Note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_fczt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_fcsj" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_fjmc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
    <sql id="Base_Column_List">
        r_id,r_yzid, r_ly, r_lc,r_fczh, r_rgzh, r_zcpxh, r_Note,r_Fczt,r_Fcsj,r_Fjmc
    </sql>
  <insert id="insert" parameterType="com.zking.real.owner.model.Estate" >
    insert into r_estate (r_id,r_yzid, r_ly, r_lc,
      r_fczh, r_rgzh, r_Note,r_Fjmc)
    values (#{rId,jdbcType=VARCHAR},#{rYzid,jdbcType=VARCHAR}, #{rLy,jdbcType=VARCHAR}, #{rLc,jdbcType=VARCHAR},
      #{rFczh,jdbcType=VARCHAR}, #{rRgzh,jdbcType=VARCHAR}, #{rNote,jdbcType=VARCHAR},#{rFjmc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.real.owner.model.Estate" >
    insert into r_estate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="rLy != null" >
        r_ly,
      </if>
      <if test="rLc != null" >
        r_lc,
      </if>
      <if test="rFczh != null" >
        r_fczh,
      </if>
      <if test="rRgzh != null" >
        r_rgzh,
      </if>
      <if test="rZcpxh != null" >
        r_zcpxh,
      </if>
      <if test="rNote != null" >
        r_Note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=VARCHAR},
      </if>
      <if test="rLy != null" >
        #{rLy,jdbcType=VARCHAR},
      </if>
      <if test="rLc != null" >
        #{rLc,jdbcType=VARCHAR},
      </if>
      <if test="rFczh != null" >
        #{rFczh,jdbcType=VARCHAR},
      </if>
      <if test="rRgzh != null" >
        #{rRgzh,jdbcType=VARCHAR},
      </if>
      <if test="rZcpxh != null" >
        #{rZcpxh,jdbcType=INTEGER},
      </if>
      <if test="rNote != null" >
        #{rNote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
        <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
            delete from r_estate
            where r_id = #{rId,jdbcType=VARCHAR}
        </delete>
    <select id="queryEstatePager" resultType="map"
            parameterType="com.zking.real.owner.model.Estate">
            SELECT e.r_id,e.r_yzid,e.r_ly,e.r_lc,e.r_fczh,e.r_rgzh,e.r_zcpxh,e.r_Note,e.r_fczt,r_fcsj,u.dymc dy,m.fjmc fj
            FROM r_estate e
            LEFT JOIN r_unit u ON e.`r_lc`=u.dybm
            LEFT JOIN r_room m  ON e.`r_fjmc`=m.fjbm
            LEFT JOIN r_owner o ON e.`r_yzid`= o.r_id WHERE e.r_yzid=#{rYzid} order by e.r_fcsj desc;
    </select>
</mapper>