<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.real.estate.mapper.BuildingMapper" >
  <resultMap id="BaseResultMap" type="com.zking.real.estate.model.Building" >
    <constructor >
      <arg column="lybm" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="lymc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="lygn" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="jglb" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wsdj" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="jzmj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="symj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="jzxkz" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ysxkz" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="zzbh" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="zxbz" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dysl" jdbcType="INTEGER" javaType="java.lang.Integer" />

    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    lybm, lymc, lygn, jglb, wsdj, jzmj, symj, jzxkz, ysxkz,
    note,zzbh,zxbz,dysl
  </sql>
  <insert id="addBuilding" parameterType="com.zking.real.estate.model.Building">
    INSERT  INTO r_building (lybm, lymc, lygn, jglb, wsdj, jzmj, symj, jzxkz, ysxkz,
    note,zzbh,zxbz,dysl)
    VALUE (#{lybm},#{lymc},#{lygn},#{jglb},#{wsdj},#{jzmj},#{symj},#{jzxkz},#{ysxkz},#{note},#{zzbh},#{zxbz},#{dysl})
  </insert>
  <update id="updateBuilding" parameterType="com.zking.real.estate.model.Building">
    UPDATE  r_building SET lymc=#{lymc},lygn=#{lygn},jglb=#{jglb},wsdj=#{wsdj},jzmj=#{jzmj},symj=#{symj},jzxkz=#{jzxkz},ysxkz=#{ysxkz},note=#{note},zzbh=#{zzbh},zxbz=#{zxbz},dysl=#{dysl} WHERE lybm =#{lybm}
  </update>
  <delete id="delBuilding">
    DELETE  FROM r_building where 1=1 AND lybm =#{lybm}


  </delete>
  <select id="queryListBuilding" resultType="com.zking.real.estate.model.Building"
          parameterType="com.zking.real.estate.model.Building">
    SELECT  <include refid="Base_Column_List"/>  FROM r_building WHERE  1=1
    <if test="null!=zzbh" >
      AND zzbh=#{zzbh}
    </if>


  </select>
  <select id="querySingBuilding" resultType="com.zking.real.estate.model.Building"
          parameterType="com.zking.real.estate.model.Building">
 SELECT */*lybm, lymc, rd.r_item AS lygn, ri.r_item AS jglb , rt.r_item AS wsdj, jzmj, symj, jzxkz, ysxkz,
    note,zzbh,rc.r_item AS zxbz,dysl*/ FROM r_building rb
  INNER JOIN r_dict rd
  ON
  rb.lygn = rd.r_value  AND rd.r_type = '楼宇功能'
  INNER  JOIN r_dict ri
  ON
  rb.jglb = ri.r_value  AND ri.r_type='结构类别'
  INNER  JOIN r_dict rc
  ON
  rb.zxbz = rc.r_value AND rc.r_type = '装修标准'
  INNER JOIN r_dict rt

  ON
  rb.wsdj =rt.r_value  AND rt.r_type = '完损等级' WHERE 1=1

 AND rb.lybm = #{lybm}

  </select>
</mapper>