<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.real.estate.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.zking.real.estate.model.Room" >
    <constructor >
      <arg column="fjbm" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fjmc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hx" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cx" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="zx" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="lcx" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="jzmj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="symj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="cph" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cwmj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="cwh" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ccsh" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ccsmj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="glmj" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="fjzt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cd" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="kd" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="yt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wylx" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fjxz" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="node" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dybh" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
fjbm,fjmc,hx,cx,zx,lcx,jzmj,symj,cph,cwmj,cwh,ccsh,ccsmj,glmj,fjzt,yt,wylx,fjxz,node,dybh

  </sql>
  <insert id="addRoom" parameterType="com.zking.real.estate.model.Room">
    INSERT INTO r_room (fjbm,fjmc,hx,cx,zx,lcx,jzmj,symj,cph,cwmj,cwh,ccsh,ccsmj,glmj,fjzt,yt,wylx,fjxz,node,dybh)
    VALUE (#{fjbm},#{fjmc},#{hx},#{cx},#{zx},#{lcx},#{jzmj},#{symj},#{cph},#{cwmj},#{cwh},#{ccsh},#{ccsmj},#{glmj},#{fjzt},#{yt},#{wylx},#{fjxz},#{node},#{dybh})
  </insert>
  <update id="updateRoom" parameterType="com.zking.real.estate.model.Room">
    UPDATE r_room SET fjmc=#{fjmc},hx=#{hx},cx=#{cx},zx=#{zx},lcx=#{lcx},jzmj=#{jzmj},symj=#{symj},cph=#{cph},cwmj=#{cwmj},cwh=#{cwh},ccsh=#{ccsh},ccsmj=#{ccsmj},glmj=#{glmj},fjzt=#{fjzt},yt=#{yt},wylx=#{wylx},fjxz=#{fjxz},node=#{node}
    WHERE fjbm = #{fjbm}

  </update>
  <delete id="delRoom" parameterType="com.zking.real.estate.model.Room">
    delete from r_room where 1=1
    <if test="null!=fjbm">
      AND  fjbm =#{fjbm}
    </if>
    <if test="null!=dybh" >

      AND  dybh = #{dybh}
    </if>

  </delete>
  <select id="queryListRoom" resultType="com.zking.real.estate.model.Room"
          parameterType="com.zking.real.estate.model.Room">
    SELECT rr.fjbm,fjmc,rd.r_item AS hx,ri.r_item AS cx,rc.r_item AS zx,rdi.r_item AS wylx,jzmj,symj,rt.r_item AS fjzt FROM r_room rr
    INNER JOIN r_dict rd
    ON
    rr.hx = rd.r_value AND rd.r_type = "房间户型"
    INNER JOIN  r_dict ri
    ON
    rr.cx = ri.r_value AND  ri.r_type = "朝向"
    INNER JOIN r_dict rc
    ON
    rr.zx = rc.r_value AND  rc.r_type = "装修标准"
    INNER JOIN r_dict rt
    ON
    rr.fjzt = rt.r_value AND rt.r_type="车位状态"
    INNER JOIN r_dict rdi
    ON
    rr.wylx = rdi.r_value AND  rdi.r_type = "房间物业类型"
    INNER  JOIN r_dict rdc
    ON
    rr.fjxz = rdc.r_value AND rdc.r_type="房间性质"  where dybh = #{dybh}



  </select>
  <select id="querySingRoom" resultType="com.zking.real.estate.model.Room"
          parameterType="com.zking.real.estate.model.Room">
    SELECT  <include refid="Base_Column_List"/>
    FROM  r_room where 1=1
    <if test="null!=fjbm">
      AND  fjbm = #{fjbm}


    </if>

  </select>

</mapper>