<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.real.estate.mapper.UnitMapper" >
  <resultMap id="BaseResultMap" type="com.zking.real.estate.model.Unit" >
    <constructor >
      <arg column="dybm" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dymc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="kslc" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="jslc" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ksfh" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="jsfh" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="node" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fjbm" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="lybh" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>

  </resultMap>
  <sql id="Base_Column_List" >
    dybm, dymc, kslc, jslc, ksfh, jsfh, node,lybh
  </sql>
  <insert id="addUnit" parameterType="com.zking.real.estate.model.Unit">
    INSERT INTO r_unit (dybm, dymc, kslc, jslc, ksfh, jsfh, node,lybh)
    VALUES (#{dybm},#{dymc},#{kslc},#{jslc},#{ksfh},#{jsfh},#{node},#{lybh})
  </insert>
  <update id="updateUnit" parameterType="com.zking.real.estate.model.Unit">
    UPDATE r_unit SET dymc=#{dymc},kslc=#{kslc},jslc=#{jslc},ksfh=#{ksfh},jsfh=#{jsfh},node=#{node},lybh=#{lybh} WHERE dybm = #{dybm}
  </update>
  <delete id="delUnit" parameterType="com.zking.real.estate.model.Unit">
    delete from r_unit where 1=1

    <if test="null!=lybh">
      AND  lybh = #{lybh}
    </if>

    <if test="null!=dybm" >
      AND  dybm = #{dybm}
    </if>


  </delete>
  <select id="queryListUnit" resultType="com.zking.real.estate.model.Unit"
          parameterType="com.zking.real.estate.model.Unit">
    SELECT <include refid="Base_Column_List" />
      FROM  r_unit where 1=1
    <if test="null!=lybh" >

      AND lybh = #{lybh}


    </if>




  </select>
  <select id="querySingUnit" resultType="com.zking.real.estate.model.Unit"
          parameterType="com.zking.real.estate.model.Unit">
    SELECT  <include refid="Base_Column_List"/>
    FROM  r_unit where 1=1
    <if test="null!=lybh">

      AND lybh = #{lybh}
    </if>
    <if test="null!=dybm">
      AND  dybm = #{dybm}


    </if>

  </select>

</mapper>